.container {
    margin-top: 50px;
}

body {
    background-color: rgba(245, 245, 245, 0.562)
}

.card {
    margin-bottom: 30px;
    box-shadow: 5px 5px 5px rgba(158, 158, 158, 0.2);
    box-sizing: border-box;
    border: 3px solid rgb(0, 122, 122);
    border-radius: 10px;
}

.card-footer {
    font-size: .95em;
}


.card-header {
    background-color: rgb(0, 122, 122);
    color: white;

}

.list-group-item {
    padding: 0;
    padding-top: 5px;
}

.section-title {
    padding-left:5px;
    color: #666;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.section-body {
    margin: 10px 20px 20px 30px;
}

.card-body {
    padding: 0
}

p.info {
    margin: 0;
}

p.author-name {
    font-weight: bold;
    font-size: 1.2em;
    max-width: 300px;
}

p.author-position {
    color: #797979
}

.popover {
    max-width: 400px;
}

span.author-name {
    max-width: 70%;
}

span.author-name:hover {
    font-weight: 500;
}

.author-photo {
    width: 70px;
    height: 70px;
    border-radius: 5px;
    margin-right: 10px;
}

.requirements {
    margin: 0;
}

.requirements .col-4 {
    padding-left: 8px;
    padding-right: 8px;
}

.requirement {
    box-shadow: 5px 5px 5px rgba(158, 158, 158, 0.2);
    border: 2px solid rgb(101, 172, 172);
    padding: 0;
    border-radius: 5px;
    padding: 5px;
    height: 100px;
    max-height: 300px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.requirement .type {
    font-size: .8em;
    color: #555;
    margin-bottom: 5px;
    display: block;
}

.requirement .body {
    font-weight: bold;
    text-align: center
}

.requirement i {
    margin: 0;
}

.requirement:hover i {
    color: rgb(0, 122, 122);
}

.author-name {
    float: left;}

.created {
    float: right;
}

.location,
span.author-name {
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
    cursor: pointer;
}


.date {
    font-weight: bold;
    font-size: 1.5em;
}

.status {
    box-sizing: border-box;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 5px;
    font-size: .7em;
    color: white;
    border: 2px white solid;
}

.list-group-flush {
    width: 100%;
}

.timezone,
.location{
    font-weight: bold;
    margin: 0
}

i {
    margin-right: 10px;
    transition: 100ms ease-in-out;
}

.status-submitted {
    background-color: #49b329;
    font-weight: 600;
}

.status-submitted::after {
    content: 'submitted'
}

.status-paid {
    background-color: #0b2885;
    font-weight: 600;
}

.status-paid::after {
    content: 'paid'
}
.status-pending {
    background-color: #676767;
    font-weight: 600;
}

.status-pending::after {
    content: 'pending'
}

.requirs {
    list-style: none;
    padding: 0;
}
.requirs li{
    padding-left: 30px;
}

.btn-group {
    float: right;
}
